@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
.header{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('./imgs/home.jpg');
    background-size: cover;
    font-family: 'Unbounded', cursive;

}